# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
release
*.local

# Editor directories and files
.vscode/.debug.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# lockfile
package-lock.json
pnpm-lock.yaml
yarn.lock

# MAC files
*.DS_Store
/src/services/private.pem
/src/services/public.pem

# Visual Studio Code
/.vscode

# Intellij
/.idea

# Migration data files
/data/*.csv
/data/*.json
/data/authorities/*.json
/data/fixtures/*/*.json

# Environment Files
*.env
